<h1><%= @track.name %></h1>
<p>Track Type: <%= @track.recording_type.upcase %></p>
<h3>Lyrics</h3>
<p>
  <%= ugly_lyrics(@track.lyrics) %>
</p>

<%= render "notes/note", track: @track %>
<%= render "notes/form", track: @track %>
<br>
<%= button_to("Edit Track", edit_track_url(@track), method: :get) %>
<%= button_to("Delete Track", track_url(@track), method: :delete) %>

<p>
  Off this album: <%= link_to(@track.album.name, album_url(@track.album), method: :get) %>
</p>
