<% action = (album.persisted? ? album_url(album) : albums_url) %>
<% method = (album.persisted? ? :patch : :post) %>

<h1>Album</h1>
<form action= <%= action %> method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= render "shared/auth" %>
  <label for="album_name">Album Name: </label>
  <input type="text" name=album[name] value="<%= album.name %>" id="album_name">
  <br>
  <label for="band">Band: </label>
  <select name=album[band_id] id="band">
    <% Band.all.each do |band| %>
      <option value="<%= band.id %>" <%= album.band == band ? "selected" : "" %> >
        <%= band.name %>
      </option>
    <% end %>
  </select>
  <br>
  <span>Recording Type:</span>
  <input type="radio"
         name=album[recording_type]
         id="recording_type_live"
         value="live"
         <%= album.recording_type == "live" ? "checked" : "" %>>
  <label for="recording_type_live">Live</label>
  <input type="radio"
         name=album[recording_type]
         id="recording_type_studio"
         value="studio"
         <%= album.recording_type == "studio" ? "checked" : "" %> >
  <label for="recording_type_studio">Studio</label>
  <br>
  <input type="submit" value="Submit">
</form>
